section {
background-color: #FFF;
color: black;
position: relative;
margin-top: 5%;
margin-bottom: 2%;
width: 84%;
margin-left: 8%;
margin-right: 8%;
border-width: 1px;
border-color: #009933;
border-style: solid;
font-family: 微軟正黑體;
}
/*********商品*************/
h6{
font-family: 微軟正黑體;
letter-spacing: 5px;
}
.short,.price{
padding-right: 10%;
padding-top: 8%;
}
.picture{
padding-top: 5%;
width: 90%;
float: left;
padding-left: 15%;
}
.name{
font-size: 50px;
}
.quantity{
padding-top: 10%;
}
.num{
width:8%;
}
.line {
height: 1px;
background: #009933;
background-image: linear-gradient(to right,#009933, #fff, #009933);
}
.description{
padding-left: 10%;
padding-right: 10%;
text-align: center;
}
.form-group{
padding-left: 10%;
}
ol.breadcolor{
border:#BE9026 1px;
background-color: #040002;
padding-top: 3%;
padding-left: 10%;
}
a.breadfont{
text-decoration: none;
color:#BE9026;
}
a.breadfont:hover{
text-decoration: none;
color:#fff;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}
input {
margin: 0;
}
.starpoint{
width: 20px ;
height: 20px;
}
.star_evaluate {
position: relative;
width: 100px;
height: 20px;
background: url("icon/icon-star-default.png") repeat-x;
background-size: 20px 20px;
overflow: hidden;
}
.star,.score{
display: block;
height: 20px;
width: 20px;
position: absolute;
}
.star{
z-index: 2;
}
.score{
opacity: 0;
}
.star_1, .score_1 {
left: 0;
}
.star_2, .score_2 {
left: 20px;
}
.star_3, .score_3 {
left: 40px;
}
.star_4, .score_4 {
left: 60px;
}
.star_5, .score_5 {
left: 80px;
}
.star:hover {
cursor: pointer;
background: url("icon/icon-star-active.png") repeat-x;
background-size: 20px 20px;
left: 0;
z-index: 1;
}
.star_1:hover {
width: 20px;
}
.star_2:hover {
width: 40px;
}
.star_3:hover {
width: 60px;
}
.star_4:hover {
width: 80px;
}
.star_5:hover {
width: 100px;
}
.score:checked + .star {
background: url("icon/icon-star-active.png") repeat-x;
background-size: 20px 20px;
left: 0;
}
.score_1:checked + .star_1 {
width: 20px;
}
.score_2:checked + .star_2 {
width: 40px;
}
.score_3:checked + .star_3 {
width: 60px;
}
.score_4:checked + .star_4 {
width: 80px;
}
.score_5:checked + .star_5 {
width: 100px;
}